.crud-page {
  display: grid;
  grid-template-columns: 1fr;
  width: 70%; /* Adjust based on your preference */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25); /* Optional shadow for emphasis */
  height: 60%;
}

.crud-outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #eaeaeb 0%, #f6f6fe 100%);
}

.crud-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgb(224, 222, 222) 0%,
    var(--cyan-50) 100%
  );
}

.crudx-form form {
  width: 340px;
  background: rgb(250, 248, 248);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.crud-grid th {
  color: var(--blue-900) !important;
}

.p-datatable td {
  font-size: 0.890em;
}

.grid-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-actions button:not(first-child) {
  margin-left: 5px;
}

.p-datatable .p-datatable-tbody > tr:nth-child(even) {
  background-color: #f4f4f4; /* Cor para linhas zebradas */
}

.p-datatable .p-datatable-tbody > tr:hover {
  background-color: #e9ecef; /* Cor ao passar o mouse */
  cursor: pointer; /* Indica que a linha é interativa */
}
