/* styles/globals.css */
body {
  margin: 0;
  overflow-x: hidden; /* Evita scroll horizontal se a largura total exceder 100vw */
  font-family: var(--font-family);
}

.layout {
  display: grid;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar footer";
  grid-template-columns: 300px 1fr; /* Define largura fixa de 200px para o sidebar */
  grid-template-rows: auto 1fr auto;
  height: 100vh; /* Define a altura total da grid para a altura da viewport */
  overflow: hidden; /* Evita scroll desnecessário dentro do layout */
}

.header {
  grid-area: header;
  background: #231f31;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  height: 80px; /* Altura explícita pode ajudar se houver problemas de sobreposição */
  z-index: 1; /* Eleva o stack order para evitar sobreposições indesejadas */
}

/* Adicionando especificidade para combater estilos globais que possam afetar */
.layout .header {
  color: #333; /* Define uma cor específica para o texto do header */
  border-bottom: 1px solid #3616aa; /* Define um visual claramente delimitado */
}

/* Reset específico para componentes PrimeReact dentro do header, se necessário */
.header .primereact-component-class {
  all: unset; /* Anula todos os estilos por padrão, redefina conforme necessário */
}

/* Ajustes adicionais */
.header > * {
  margin: auto 0; /* Centraliza verticalmente todos os itens diretos no header */
}

.header-breadcrumb {
  background-color: #231f31; /* Cor de fundo igual ao header */
  padding: 10px 20px; /* Espaçamento interno para não ficar colado nas bordas */
  margin-right: auto; /* Garante que o breadcrumb não fique colado ao menubar */
  border: 0px;
}

.header-breadcrumb .p-menuitem-separator,
.header-breadcrumb .p-menuitem-text {
  color: #f4f4f4;
}

.header-breadcrumb .p-menuitem,
.header-breadcrumb .p-menuitem-link {
  padding: 10px 5px;
}

.header-breadcrumb
  .p-breadcrumb-list
  .p-menuitem:not(:first-child)
  .p-menuitem-link:hover {
  font-weight: bold;
  padding: 10px 4px;
}

.menubar-right {
  margin-left: auto; /* Empurra o Menubar para a direita */
}

.profile-item {
  margin-top: 10px;
}

.user-avatar {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5); /* Adiciona sombra ao redor da imagem ao passar o mouse */
}

#popup_menu {
  z-index: 1000; /* Garante que o menu apareça acima de outros elementos */
}

.sidebar {
  grid-area: sidebar;
  background: #231f31;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Adiciona scroll ao sidebar se necessário */
  padding: 10px;
}

/* styles/globals.css */

.app-logo {
  display: flex; /* Usa flexbox para alinhar o logo e o texto */
  justify-content: space-between; /* Espaça os elementos uniformemente */
  align-items: center; /* Centraliza os elementos verticalmente */
  padding: 10px;
  background-color: #231f31;
  height: 60px; /* Altura do app-logo para centralização vertical */
}

.app-logo img {
  width: 64px; /* Largura do logo */
  height: 64px; /* Altura do logo */
}

.app-logo span {
  width: 200px; /* Largura do texto */
  color: white; /* Cor do texto */
  font-size: 30px;
  font-weight: bold;
  margin-left: 0.5em;
}

.menu-item {
  margin-top: 10px;
}

.menu-item .p-menuitem-content {
  width: 90%;
  margin-left: 5%;
}

.menu-item .p-menuitem-content:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  width: 90%;
  border-radius: 5px;
  background-color: #231f31;
}

.menu-item .p-menuitem-content:hover .p-menuitem-text {
  color: white;
}

.menu-item .p-focus .p-menuitem-content {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  width: 90%;
  border-radius: 5px;
  background-color: #231f31;
  font-weight: bold;
}

.menu-item .p-focus .p-menuitem-content .p-menuitem-link .p-menuitem-text {
  color: white;
}

.menu-item .p-menuitem-link:hover {
  font-weight: bold;
  color: white;
}

.main {
  grid-area: main;
  padding: 20px;
  overflow-y: auto; /* Permite scroll no conteúdo principal se necessário */
}

.footer {
  grid-area: footer;
  background-color: #231f31;
  text-align: center;
  padding: 10px;
  height: 80px; /* Altura explícita pode ajudar se houver problemas de sobreposição */
}

.flex {
  display: flex !important;
}

@media (max-width: 1024px) {
  .layout {
    grid-template-areas:
      "header"
      "sidebar"
      "main"
      "footer";
    grid-template-columns: 1fr; /* Ocupa toda a largura disponível */
    grid-template-rows: 80px auto 1fr 80px; /* Alturas ajustadas para tela menor */
  }

  .sidebar {
    grid-area: sidebar;
    width: 100%; /* Sidebar agora ocupa a largura total abaixo da largura de 1024px */
    height: auto; /* Altura ajustável conforme o conteúdo */
    overflow-y: auto;
  }

  .header,
  .footer {
    width: 100%; /* Garante que o header e o footer ocupem a largura total */
  }

  .menubar-right,
  .header-breadcrumb,
  .profile-item {
    display: none; /* Esconde elementos que podem ocupar muito espaço */
  }
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

table th,
table td {
  padding: 0.625em;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .app-logo span {
    font-size: 20px; /* Reduz o tamanho da fonte do texto do logo */
  }

  .main,
  .footer {
    padding: 10px; /* Reduz o padding para economizar espaço */
  }

  .header {
    height: 60px; /* Reduz a altura do header */
  }
}

@media screen and (max-width: 768px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  .p-datatable tr td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;

    min-height: 35px;
  }

  table td span::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }

  .app-logo {
    flex-direction: column; /* Empilha o logo e o texto verticalmente */
    align-items: center; /* Centraliza os itens */
  }

  .app-logo img {
    width: 48px; /* Reduz o tamanho do logo */
    height: 48px;
  }

  .app-logo span {
    margin: 0; /* Remove a margem para evitar espaçamento desnecessário */
  }

  .sidebar {
    padding: 5px; /* Reduz o padding do sidebar */
  }

  .menu-item .p-menuitem-content {
    width: 100%; /* Ajusta os itens do menu para preencher o espaço */
    margin: 0;
  }
}
