/* Estilos Básicos e Configurações Globais */
.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to bottom, #231f31 0%, #0a061a 100%);
  flex-direction: column; /* Padrão para dispositivos móveis */
}

/* Estilos específicos para a área de branding */
.branding-area {
  display: flex;
  flex-direction: column; /* Organiza os filhos verticalmente */
  align-items: center; /* Centraliza os filhos horizontalmente */
  text-align: center; /* Garante que o texto esteja centralizado */
  color: var(--gray-50);
  margin: auto; /* Centraliza verticalmente */
}

.branding-area img {
  width: 120px;
}

.branding-area h1 {
  margin: 0;
}

/* Estilos para o formulário de login */
.auth-form {
  background: linear-gradient(
    to bottom,
    rgb(224, 222, 222) 0%,
    var(--gray-50) 100%
  );
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 90%; /* Largura relativa menor para dispositivos pequenos */
  max-width: 500px;
  min-width: 300px;
  margin: auto; /* Centraliza o formulário horizontalmente */
}

.auth-form .auth-title {
  display: flex;
  justify-content: center;
  color: var(--blue-800);
  padding: 0.5em;
  font-weight: bold;
  font-size: 1.1rem;
}

.auth-form .auth-input {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.auth-form .auth-input label {
  color: var(--blue-900);
  margin-bottom: 5px;
}

.auth-form .auth-input .p-inputtext {
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.auth-form .auth-checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
}

.auth-form .auth-checkbox label {
  color: var(--blue-900);
  margin-left: 0.5em;
  flex-direction: row;
}

.auth-form .auth-checkbox a {
  margin-left: auto;
  color: var(--blue-800) !important;
  flex-direction: row;
  text-decoration: none;
}

.auth-form .auth-checkbox a:hover {
  color: var(--blue-500) !important;
  text-decoration: none;
}

.auth-form .auth-buttons {
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

.auth-form .auth-buttons button.p-button {
  background-color: var(--blue-900, #0d3c61) !important;
  border-color: var(--blue-900, #0d3c61) !important;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
}

.auth-form .auth-buttons button.p-button:hover {
  background-color: #09507a !important;
  border-color: #09507a !important;
}

.auth-links {
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

.auth-links a {
  color: var(--blue-800) !important;
  text-decoration: none;
  margin-left: 0.5em;
}

/* Media Queries para responsividade */
@media (max-width: 767px) {
  .auth-container {
    align-items: stretch;
  }
  .branding-area {
    order: 1;
    margin-bottom: 20px;
    flex: 0 0 120px;
  }
  .auth-form {
    order: 2;
    flex: 0 0 auto;
    max-height: 400px;
    max-width: none; /* Remove restrição de max-width */
  }

  .p-toast {
    right: 0px !important;
  }
}

@media (min-width: 768px) {
  .auth-container {
    flex-direction: row; /* Linha em tablets e desktops */
    align-items: center; /* Centraliza verticalmente */
  }
  .branding-area {
    margin: auto;
    flex: 0 1 auto; /* Flexibilidade na alocação de espaço */
  }
  .auth-form {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .auth-form {
    width: 50%;
  }
}
