/* styles/register.css */
.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-top: 50px;
  background: linear-gradient(to bottom, rgb(224, 222, 222) 0%, var(--cyan-50) 100%);

}

.register-form form {
  width: 340px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.register-title {
    font-size: 1.5rem;
    text-align: center;
    color: var(--blue-900, #0d3c61);    
}


.register-form .p-field {
  margin-bottom: 1.5em;
}

.register-form input {
  width: 100%;
  padding: 0.8em 2.5em;
  border: 2px solid #ccc;
  border-radius: 8px;
}

.register-button {
    gap: 1rem !important;
}

.register-button .btn-register.p-button {
  background-color: var(--blue-900, #0d3c61);
  border-color: var(--blue-900, #0d3c61);
}

.register-button .btn-register.p-button:hover {
  background-color: #09507a;
  border-color: #09507a;
}
